.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid rgb(41, 37, 37);
    border-color: rgb(205, 210, 211) transparent rgb(249, 255, 251) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner{
      position: fixed;
      width:20vw;
      left:40vw;
      top:10vw;
      z-index: 99;
      /* background-color: #fff; */
      text-align: center;
      padding: 20px;
      
  }
  .view{
      background-color: rgba(0,0,0,0.5);
      z-index: 98;
      position: fixed;
      top: 0;
      width: 100vw;
      height: 100vh;
      left: 0;
  }
  .loading{
      color: white;
  }