
<div class="row">
    <div class="col-md-12">
        <h2>EditPost</h2>
        <hr>
        <form [formGroup]="editPost" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label>Title</label>
                <input type="text" class="form-control"formControlName="title" >
                <div *ngIf="editPost.get('title').touched && !editPost.get('title').valid" class="text text-danger">
                    <div *ngIf="editPost.get('title').errors.required">title is required</div>
                    <div *ngIf="editPost.get('title').errors.minlength">title must be 6 charecters</div>
                </div>
            </div>
            <div class="mb-3">
                <label>Description</label>
                <textarea class="form-control" formControlName="description"></textarea>
                <div *ngIf="editPost.get('description').touched && !editPost.get('description').valid" class="alert text-danger">
                    {{ showValidationerrors()}}
                </div>
            </div>
            <div class="my-3"><button type="submit" class="btn btn-success" >UpdatePost</button></div>
        </form>
    </div>
</div>
