<div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Register </h2>
            <hr>
            <form [formGroup]="RegisterForm" (ngSubmit)="signupSubmit()">
               <div>
                <label>Email</label>
                <input type=" text" class="form-control" formControlName="email" >
                <div *ngIf="RegisterForm.get('email').touched && !RegisterForm.get('email').valid" class="text text-danger">
                    <div *ngIf="RegisterForm.get('email').errors.required">Email required</div>
                    <div *ngIf="RegisterForm.get('email').errors.email">invalid Email</div>
                </div>
               </div>
               <div>
                <label>Password</label>
                <input type="password" class="form-control" formControlName="password">
                <div *ngIf="RegisterForm.get('password').touched && !RegisterForm.get('password').valid" class="text text-danger">
                    <div *ngIf="RegisterForm.get('password').errors.required">invalid password</div>
                </div>
               </div>
               <div>
                   <button class="btn btn-primary mt-3" type="submit" FormControlName="password" [disabled]="!RegisterForm.valid">Submit</button>
               </div>
            </form >
        </div>
</div>
